html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#barraReproduccionContenedor {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#barraReproduccion {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#barraReproduccionIzquierda,
#barraReproduccionDerecha {
    width: 30%;
    min-width: 180px;
}

#barraReproduccionCentro {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barraReproduccion .contenido {
    width: 100%;
}

.reproductorControles .botones {
    margin: 0 auto;
    display: table;

}

.botonControl {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.botonControl img {
    width: 20px;
    height: 20px;
}

.botonControl.reproducir img,
.botonControl.pausa img {
    width: 32px;
    height: 32px;
}

.botonControl:hover {
    cursor: pointer;
}

.tiempoProgreso {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.barraPlayback {
    display: flex;
}

.barraProgreso {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.barraProgresoBg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progreso {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.barraPlayback .barraProgreso {
    margin-top: 3px;
}